In [1]:
%matplotlib nbagg

In [2]:
import os
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from patsy import dmatrices
import matplotlib.pyplot as plt

In [3]:
DATADIR = os.path.join(os.path.expanduser("~"), "DATA", "TimeSeries", "EPA")
os.path.exists(DATADIR)

True

In [4]:
files = os.listdir(DATADIR)
files

['aqs_data_dictionary.pdf',
 'San_Diego_2016_PM25.xlsx',
 'Salt_Lake_2016_PM25.xlsx',
 'Asthma_SLC.xlsx',
 'SLC_Weather_2016.xlsx']

## Read the air quality data

In [5]:
slc = pd.read_excel(os.path.join(DATADIR, 'Salt_Lake_2016_PM25.xlsx'))
print(slc.columns)
slc.head()

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local',
       'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement',
       'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type',
       'Method Code', 'Method Name', 'State Name', 'County Name',
       'Date of Last Change'],
      dtype='object')

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,49,35,3006,88101,4,40.736389,-111.872222,NAD83,PM2.5 - Local Conditions,2016-01-07,...,Micrograms/cubic meter (LC),2,NaN,QX,FEM,184,Thermo Scientific Model 5030 SHARP w/VSCC - Be...,Utah,Salt Lake,2016-04-22
1,49,35,3006,88101,4,40.736389,-111.872222,NAD83,PM2.5 - Local Conditions,2016-01-07,...,Micrograms/cubic meter (LC),2,NaN,QX,FEM,184,Thermo Scientific Model 5030 SHARP w/VSCC - Be...,Utah,Salt Lake,2016-04-22
2,49,35,3006,88101,4,40.736389,-111.872222,NAD83,PM2.5 - Local Conditions,2016-01-07,...,Micrograms/cubic meter (LC),2,NaN,QX,FEM,184,Thermo Scientific Model 5030 SHARP w/VSCC - Be...,Utah,Salt Lake,2016-04-22
3,49,35,3006,88101,4,40.736389,-111.872222,NAD83,PM2.5 - Local Conditions,2016-01-07,...,Micrograms/cubic meter (LC),2,NaN,QX,FEM,184,Thermo Scientific Model 5030 SHARP w/VSCC - Be...,Utah,Salt Lake,2016-04-22
4,49,35,3006,88101,4,40.736389,-111.872222,NAD83,PM2.5 - Local Conditions,2016-01-07,...,Micrograms/cubic meter (LC),2,NaN,QX,FEM,184,Thermo Scientific Model 5030 SHARP w/VSCC - Be...,Utah,Salt Lake,2016-04-22

In [6]:
i = 2
slc.iloc[i:i+10,10:15]["Sample Measurement"].mean()

17.23

In [ ]:
d1 = slc["Date Local"][0]
t1 = slc["Time Local"][0]

In [13]:
t1

datetime.time(13, 0)

In [11]:
print("Date Local type",type(d1),"Time Local type",type(t1))
datetime.datetime.combine(d1.to_pydatetime(), t1)

Date Local type <class 'pandas._libs.tslibs.timestamps.Timestamp'> Time Local type <class 'datetime.time'>

datetime.datetime(2016, 1, 7, 13, 0)

### Comments:

* Dates and times are split into separate columns
* We have both local time and UTC time

## Merging Dates and Time
* After we have read in the data we could combine the dates and times
    * Convert pandas Timestamp to datetime
    * Use ``datetime.combine`` to merge with ``datetime.time``
* We can also merge these when reading the data by specifying the ``parse_dates`` keyword

#### Using ``datetime.combine``

In [14]:
slc.apply(lambda x: datetime.datetime.combine(x["Date Local"],x["Time Local"]), axis=1).head()

0   2016-01-07 13:00:00
1   2016-01-07 14:00:00
2   2016-01-07 15:00:00
3   2016-01-07 16:00:00
4   2016-01-07 17:00:00
dtype: datetime64[ns]

In [15]:
sd = pd.read_excel(os.path.join(DATADIR, "San_Diego_2016_PM25.xlsx"))
sd.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,6,73,1011,88101,3,32.725226,-116.365203,WGS84,PM2.5 - Local Conditions,2016-01-01,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,170,Met One BAM-1020 Mass Monitor w/VSCC - Beta At...,California,San Diego,2016-04-12
1,6,73,1011,88101,3,32.725226,-116.365203,WGS84,PM2.5 - Local Conditions,2016-01-01,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,170,Met One BAM-1020 Mass Monitor w/VSCC - Beta At...,California,San Diego,2016-04-12
2,6,73,1011,88101,3,32.725226,-116.365203,WGS84,PM2.5 - Local Conditions,2016-01-01,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,170,Met One BAM-1020 Mass Monitor w/VSCC - Beta At...,California,San Diego,2016-04-12
3,6,73,1011,88101,3,32.725226,-116.365203,WGS84,PM2.5 - Local Conditions,2016-01-01,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,170,Met One BAM-1020 Mass Monitor w/VSCC - Beta At...,California,San Diego,2016-04-12
4,6,73,1011,88101,3,32.725226,-116.365203,WGS84,PM2.5 - Local Conditions,2016-01-01,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,170,Met One BAM-1020 Mass Monitor w/VSCC - Beta At...,California,San Diego,2016-04-12

## Read in weather data

In [16]:
slc_weather = pd.read_excel(os.path.join(DATADIR, 'SLC_Weather_2016.xlsx'), skiprows=[1])
slc_weather.head()

         Day  High   Low Precip. Snow Snow Depth
0 2016-01-01  21.9     9       0    0          0
1 2016-01-02    23  10.9       0    0          0
2 2016-01-03    27    21       0    0          0
3 2016-01-04    32  21.9       0    0          0
4 2016-01-05    45    28       0    0          0

In [17]:
slc_weather.columns

Index(['Day', 'High', 'Low', 'Precip.', 'Snow', 'Snow Depth'], dtype='object')

In [18]:
slc_weather['Day'][0]

Timestamp('2016-01-01 00:00:00')

## Our Weather has Resolution of Days
## Our pollutant data has resolution of hours
## Group and take mean?

In [19]:
slc.groupby("Date Local", as_index=False).aggregate(np.mean)

,Date Local,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Sample Measurement,MDL,Uncertainty,Method Code
0,2016-01-01,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,19.208333,2.0,NaN,182.000000
1,2016-01-02,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,23.558333,2.0,NaN,182.000000
2,2016-01-03,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,26.504167,2.0,NaN,182.000000
3,2016-01-04,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,34.120833,2.0,NaN,182.000000
4,2016-01-05,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,25.291667,2.0,NaN,182.000000
5,2016-01-06,49.0,35.0,3006.000000,88101.0,5.000000,40.736389,-111.872222,13.616667,2.0,NaN,182.000000
6,2016-01-07,49.0,35.0,3006.000000,88101.0,4.685714,40.736389,-111.872222,14.891429,2.0,NaN,182.628571
7,2016-01-08,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,5.047917,2.0,NaN,183.000000
8,2016-01-09,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,7.997917,2.0,NaN,183.000000
9,2016-01-10,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,8.222917,2.0,NaN,183.000000
10,2016-01-11,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,8.768750,2.0,NaN,183.000000
11,2016-01-12,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,19.608333,2.0,NaN,183.000000
12,2016-01-13,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,30.072917,2.0,NaN,183.000000
13,2016-01-14,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,19.454167,2.0,NaN,183.000000
14,2016-01-15,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,9.275000,2.0,NaN,183.000000
15,2016-01-16,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,7.664583,2.0,NaN,183.000000
16,2016-01-17,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,7.360417,2.0,NaN,183.000000
17,2016-01-18,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,6.160417,2.0,NaN,183.000000
18,2016-01-19,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,5.729167,2.0,NaN,183.000000
19,2016-01-20,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,1.985417,2.0,NaN,183.000000
20,2016-01-21,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,7.245833,2.0,NaN,183.000000
21,2016-01-22,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,15.589583,2.0,NaN,183.000000
22,2016-01-23,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,20.214583,2.0,NaN,183.000000
23,2016-01-24,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,8.716667,2.0,NaN,183.000000
24,2016-01-25,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,3.900000,2.0,NaN,183.000000
25,2016-01-26,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,9.931250,2.0,NaN,183.000000
26,2016-01-27,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,23.412500,2.0,NaN,183.000000
27,2016-01-28,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,33.341667,2.0,NaN,183.000000
28,2016-01-29,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,23.881250,2.0,NaN,183.000000
29,2016-01-30,49.0,35.0,3006.000000,88101.0,4.500000,40.736389,-111.872222,4.185417,2.0,NaN,183.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2016-04-01,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,4.254167,2.0,NaN,182.666667
92,2016-04-02,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,5.375000,2.0,NaN,182.666667
93,2016-04-03,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.923611,2.0,NaN,182.666667
94,2016-04-04,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.676389,2.0,NaN,182.666667
95,2016-04-05,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.372222,2.0,NaN,182.666667
96,2016-04-06,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.313889,2.0,NaN,182.666667
97,2016-04-07,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,4.418056,2.0,NaN,182.666667
98,2016-04-08,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.263889,2.0,NaN,182.666667
99,2016-04-09,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.891667,2.0,NaN,182.666667
100,2016-04-10,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.388889,2.0,NaN,182.666667
101,2016-04-11,49.0,35.0,3008.545455,88101.0,3.939394,40.649117,-111.931886,2.269697,2.0,NaN,182.666667
102,2016-04-12,49.0,35.0,3008.130435,88101.0,4.043478,40.663346,-111.922158,3.147826,2.0,NaN,182.695652
103,2016-04-13,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.390278,2.0,NaN,182.666667
104,2016-04-14,49.0,35.0,3009.000000,88101.0,4.000000,40.633533,-111.942540,3.182143,2.0,NaN,182.285714
105,2016-04-15,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.836111,2.0,NaN,182.666667
106,2016-04-16,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.213889,2.0,NaN,182.666667
107,2016-04-17,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.368056,2.0,NaN,182.666667
108,2016-04-18,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.819444,2.0,NaN,182.666667
109,2016-04-19,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.884722,2.0,NaN,182.666667
110,2016-04-20,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.515278,2.0,NaN,182.666667
111,2016-04-21,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.247222,2.0,NaN,182.666667
112,2016-04-22,49.0,35.0,3008.267606,88101.0,4.014085,40.658643,-111.925373,6.152113,2.0,NaN,182.676056
113,2016-04-23,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.805556,2.0,NaN,182.666667
114,2016-04-24,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.959722,2.0,NaN,182.666667
115,2016-04-25,49.0,35.0,3008.366197,88101.0,3.985915,40.655263,-111.927684,2.853521,2.0,NaN,182.676056
116,2016-04-26,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,3.233333,2.0,NaN,182.666667
117,2016-04-27,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.986111,2.0,NaN,182.666667
118,2016-04-28,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.461111,2.0,NaN,182.666667
119,2016-04-29,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,1.909722,2.0,NaN,182.666667
120,2016-04-30,49.0,35.0,3008.333333,88101.0,4.000000,40.656390,-111.926914,2.200000,2.0,NaN,182.666667

### Group and take sum?

In [20]:
slc.groupby("Date Local", as_index=False).aggregate(np.sum)

,Date Local,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Sample Measurement,MDL,Uncertainty,Method Code
0,2016-01-01,1176,840,72144,2114424,120,977.673336,-2684.933328,461.0,48,0.0,4368
1,2016-01-02,1176,840,72144,2114424,120,977.673336,-2684.933328,565.4,48,0.0,4368
2,2016-01-03,1176,840,72144,2114424,120,977.673336,-2684.933328,636.1,48,0.0,4368
3,2016-01-04,1176,840,72144,2114424,120,977.673336,-2684.933328,818.9,48,0.0,4368
4,2016-01-05,1176,840,72144,2114424,120,977.673336,-2684.933328,607.0,48,0.0,4368
5,2016-01-06,1176,840,72144,2114424,120,977.673336,-2684.933328,326.8,48,0.0,4368
6,2016-01-07,1715,1225,105210,3083535,164,1425.773615,-3915.527770,521.2,70,0.0,6392
7,2016-01-08,2352,1680,144288,4228848,216,1955.346672,-5369.866656,242.3,96,0.0,8784
8,2016-01-09,2352,1680,144288,4228848,216,1955.346672,-5369.866656,383.9,96,0.0,8784
9,2016-01-10,2352,1680,144288,4228848,216,1955.346672,-5369.866656,394.7,96,0.0,8784
10,2016-01-11,2352,1680,144288,4228848,216,1955.346672,-5369.866656,420.9,96,0.0,8784
11,2016-01-12,2352,1680,144288,4228848,216,1955.346672,-5369.866656,941.2,96,0.0,8784
12,2016-01-13,2352,1680,144288,4228848,216,1955.346672,-5369.866656,1443.5,96,0.0,8784
13,2016-01-14,2352,1680,144288,4228848,216,1955.346672,-5369.866656,933.8,96,0.0,8784
14,2016-01-15,2352,1680,144288,4228848,216,1955.346672,-5369.866656,445.2,96,0.0,8784
15,2016-01-16,2352,1680,144288,4228848,216,1955.346672,-5369.866656,367.9,96,0.0,8784
16,2016-01-17,2352,1680,144288,4228848,216,1955.346672,-5369.866656,353.3,96,0.0,8784
17,2016-01-18,2352,1680,144288,4228848,216,1955.346672,-5369.866656,295.7,96,0.0,8784
18,2016-01-19,2352,1680,144288,4228848,216,1955.346672,-5369.866656,275.0,96,0.0,8784
19,2016-01-20,2352,1680,144288,4228848,216,1955.346672,-5369.866656,95.3,96,0.0,8784
20,2016-01-21,2352,1680,144288,4228848,216,1955.346672,-5369.866656,347.8,96,0.0,8784
21,2016-01-22,2352,1680,144288,4228848,216,1955.346672,-5369.866656,748.3,96,0.0,8784
22,2016-01-23,2352,1680,144288,4228848,216,1955.346672,-5369.866656,970.3,96,0.0,8784
23,2016-01-24,2352,1680,144288,4228848,216,1955.346672,-5369.866656,418.4,96,0.0,8784
24,2016-01-25,2352,1680,144288,4228848,216,1955.346672,-5369.866656,187.2,96,0.0,8784
25,2016-01-26,2352,1680,144288,4228848,216,1955.346672,-5369.866656,476.7,96,0.0,8784
26,2016-01-27,2352,1680,144288,4228848,216,1955.346672,-5369.866656,1123.8,96,0.0,8784
27,2016-01-28,2352,1680,144288,4228848,216,1955.346672,-5369.866656,1600.4,96,0.0,8784
28,2016-01-29,2352,1680,144288,4228848,216,1955.346672,-5369.866656,1146.3,96,0.0,8784
29,2016-01-30,2352,1680,144288,4228848,216,1955.346672,-5369.866656,200.9,96,0.0,8784
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2016-04-01,3528,2520,216600,6343272,288,2927.260080,-8058.737808,306.3,144,0.0,13152
92,2016-04-02,3528,2520,216600,6343272,288,2927.260080,-8058.737808,387.0,144,0.0,13152
93,2016-04-03,3528,2520,216600,6343272,288,2927.260080,-8058.737808,210.5,144,0.0,13152
94,2016-04-04,3528,2520,216600,6343272,288,2927.260080,-8058.737808,192.7,144,0.0,13152
95,2016-04-05,3528,2520,216600,6343272,288,2927.260080,-8058.737808,170.8,144,0.0,13152
96,2016-04-06,3528,2520,216600,6343272,288,2927.260080,-8058.737808,238.6,144,0.0,13152
97,2016-04-07,3528,2520,216600,6343272,288,2927.260080,-8058.737808,318.1,144,0.0,13152
98,2016-04-08,3528,2520,216600,6343272,288,2927.260080,-8058.737808,235.0,144,0.0,13152
99,2016-04-09,3528,2520,216600,6343272,288,2927.260080,-8058.737808,136.2,144,0.0,13152
100,2016-04-10,3528,2520,216600,6343272,288,2927.260080,-8058.737808,100.0,144,0.0,13152
101,2016-04-11,3234,2310,198564,5814666,260,2682.841746,-7387.504476,149.8,132,0.0,12056
102,2016-04-12,3381,2415,207561,6078969,279,2805.770904,-7722.628914,217.2,138,0.0,12606
103,2016-04-13,3528,2520,216600,6343272,288,2927.260080,-8058.737808,244.1,144,0.0,13152
104,2016-04-14,2744,1960,168504,4933656,224,2275.477856,-6268.782256,178.2,112,0.0,10208
105,2016-04-15,3528,2520,216600,6343272,288,2927.260080,-8058.737808,204.2,144,0.0,13152
106,2016-04-16,3528,2520,216600,6343272,288,2927.260080,-8058.737808,87.4,144,0.0,13152
107,2016-04-17,3528,2520,216600,6343272,288,2927.260080,-8058.737808,98.5,144,0.0,13152
108,2016-04-18,3528,2520,216600,6343272,288,2927.260080,-8058.737808,131.0,144,0.0,13152
109,2016-04-19,3528,2520,216600,6343272,288,2927.260080,-8058.737808,207.7,144,0.0,13152
110,2016-04-20,3528,2520,216600,6343272,288,2927.260080,-8058.737808,253.1,144,0.0,13152
111,2016-04-21,3528,2520,216600,6343272,288,2927.260080,-8058.737808,233.8,144,0.0,13152
112,2016-04-22,3479,2485,213587,6255171,285,2886.763688,-7946.701510,436.8,142,0.0,12970
113,2016-04-23,3528,2520,216600,6343272,288,2927.260080,-8058.737808,274.0,144,0.0,13152
114,2016-04-24,3528,2520,216600,6343272,288,2927.260080,-8058.737808,141.1,144,0.0,13152
115,2016-04-25,3479,2485,213594,6255171,283,2886.523691,-7946.865586,202.6,142,0.0,12970
116,2016-04-26,3528,2520,216600,6343272,288,2927.260080,-8058.737808,232.8,144,0.0,13152
117,2016-04-27,3528,2520,216600,6343272,288,2927.260080,-8058.737808,215.0,144,0.0,13152
118,2016-04-28,3528,2520,216600,6343272,288,2927.260080,-8058.737808,105.2,144,0.0,13152
119,2016-04-29,3528,2520,216600,6343272,288,2927.260080,-8058.737808,137.5,144,0.0,13152
120,2016-04-30,3528,2520,216600,6343272,288,2927.260080,-8058.737808,158.4,144,0.0,13152

### Applying different functions to different columns

In [21]:
slc_day = slc.groupby(["Date Local", "Site Num"], 
                      as_index=False).aggregate(
                         {'Sample Measurement' : np.mean,
                          'MDL': np.median})
slc_day.head()

  Date Local  Site Num  Sample Measurement  MDL
0 2016-01-01      3006           19.208333    2
1 2016-01-02      3006           23.558333    2
2 2016-01-03      3006           26.504167    2
3 2016-01-04      3006           34.120833    2
4 2016-01-05      3006           25.291667    2

In [22]:
slc_day_all = slc_day.merge(slc_weather, 
                            left_on="Date Local", 
                            right_on="Day")
slc_day_all.head()

,Date Local,Site Num,Sample Measurement,MDL,Day,High,Low,Precip.,Snow,Snow Depth
0,2016-01-01,3006,19.208333,2,2016-01-01,21.9,9,0,0,0
1,2016-01-02,3006,23.558333,2,2016-01-02,23,10.9,0,0,0
2,2016-01-03,3006,26.504167,2,2016-01-03,27,21,0,0,0
3,2016-01-04,3006,34.120833,2,2016-01-04,32,21.9,0,0,0
4,2016-01-05,3006,25.291667,2,2016-01-05,45,28,0,0,0

### Rename columns to eliminate spaces

In [23]:
{c:c.replace(" ", "_") for c in slc_day_all.columns}

{'Date Local': 'Date_Local',
 'Site Num': 'Site_Num',
 'Sample Measurement': 'Sample_Measurement',
 'MDL': 'MDL',
 'Day': 'Day',
 'High': 'High',
 'Low': 'Low',
 'Precip.': 'Precip.',
 'Snow': 'Snow',
 'Snow Depth': 'Snow_Depth'}

In [24]:
slc_final = slc_day_all.rename(
    columns={c:c.replace(" ", "_") for c in slc_day_all.columns}
)

### What would be an interesting plot?