In [ ]:
from IPython.display import YouTubeVideo

YouTubeVideo("26IAqxwVz-8")

# [Pandas](http://pandas.pydata.org/)

In [ ]:
% matplotlib inline

In [2]:
import os
import shutil
import glob
import sqlite3 as sqlite
DATADIR = os.path.join(os.path.expanduser("~"),"DATA")
print(os.path.exists(DATADIR))

True

In [3]:
import pandas as pd

## Reading Very Large Files with Pandas
[Example 1](https://realpython.com/blog/python/working-with-large-excel-files-in-pandas/): This is a dataset of all car accidents in England between 1979 and 2004

In [ ]:
url = os.path.join(DATADIR,
                       "Misc",
                       "Accidents7904.csv")
accidents = pd.read_csv(url, usecols=range(10,20))
accidents.tail()

## Specifying details of data
* Pandas can determine the data types of the columns.
    * This takes time and memory
    * If you know the column data types, you can save time and memory by specifying it with the ``dtype`` keyword
* Europeans and Americans (and British?) use different symbols for 
    * Thousands marker
    * Decimal point ("." vs ",")
    * Pandas allows you to specify these values to facilitate local differences in data representation

In [5]:
elevation = pd.read_table(os.path.join(DATADIR,"Misc", "elevation2.txt"),
                           #thousands=",", 
                           usecols=["State","Average elevation",
                                    "Highest elevation"])
elevation

             State Highest elevation Average elevation
0         Colorado       14,440 feet        6,800 feet
1          Wyoming       13,804 feet        6,700 feet
2             Utah       13,528 feet        6,100 feet
3       New Mexico       13,161 feet        5,700 feet
4           Nevada       13,140 feet        5,500 feet
5            Idaho       12,662 feet        5,000 feet
6          Arizona       12,633 feet        4,100 feet
7          Montana       12,799 feet        3,400 feet
8           Oregon       11,239 feet        3,300 feet
9           Hawaii       13,796 feet        3,030 feet
10      California       14,494 feet        2,900 feet
11        Nebraska        5,424 feet        2,600 feet
12    South Dakota        7,242 feet        2,200 feet
13          Kansas        4,039 feet        2,000 feet
14          Alaska       20,320 feet        1,900 feet
15    North Dakota        3,506 feet        1,900 feet
16      Washington       14,410 feet        1,700 feet
17           Texas        8,749 feet        1,700 feet
18   West Virginia        4,863 feet        1,500 feet
19        Oklahoma        4,973 feet        1,300 feet
20       Minnesota        2,301 feet        1,200 feet
21    Pennsylvania        3,213 feet        1,100 feet
22            Iowa        1,670 feet        1,100 feet
23       Wisconsin        1,951 feet        1,050 feet
24   New Hampshire        6,288 feet        1,000 feet
25        New York        5,344 feet        1,000 feet
26         Vermont        4,393 feet        1,000 feet
27        Virginia        5,729 feet          950 feet
28       Tennessee        6,643 feet          900 feet
29        Michigan        1,979 feet          900 feet
30            Ohio        1,549 feet          850 feet
31        Missouri        1,772 feet          800 feet
32        Kentucky        4,139 feet          750 feet
33  North Carolina        6,684 feet          700 feet
34         Indiana        1,257 feet          700 feet
35        Arkansas        2,753 feet          650 feet
36           Maine        5,276 feet          600 feet
37         Georgia        4,784 feet          600 feet
38        Illinois        1,235 feet          600 feet
39   Massachusetts        3,487 feet          500 feet
40         Alabama        2,407 feet          500 feet
41     Connecticut        2,380 feet          500 feet
42  South Carolina        3,560 feet          350 feet
43        Maryland        3,360 feet          350 feet
44     Mississippi          806 feet          300 feet
45      New Jersey        1,803 feet          250 feet
46    Rhode Island          812 feet          200 feet
47       Louisiana          535 feet          100 feet
48         Florida          345 feet          100 feet
49        Delaware          450 feet           60 feet

In [6]:
type(elevation.iloc[48]["Average elevation"])

str