In [ ]:
import pandas as pd
import re

In [ ]:
##Read in dataframe
df = pd.read_excel("Yaeger2018.xlsx", header=0)
print(df.shape)
df.head()

### Select columns

In [ ]:
#Select certain columns
df =  df[df.columns[0:4]]
df.head()

In [ ]:
##Select certain columns
columns = ['Hugo_Symbol', 'HGVSc', 'HGVSp_Short', 'dbSNP_RS']

#fill any empty cell with an na value
df[columns] = df[columns].fillna("")
print(len(df))

#Drop any duplicate values
df.drop_duplicates(['HGVSc'], inplace=True)
print(len(df))

### Select genes

In [ ]:
genes = ('AKT1',
'APC',
'APLF',
'ARID1A',
'AR',
'ATM',
'ATR',
'FRP1',
'AXIN2',
'BARD1',
'BLM',
'BMPR1A',
'BRAF',
'BRCA1',
'BRCA2',
'BRIP1',
'BTG2',
'CCND3',
'CCNE1',
'CDH1',
'CDK4',
'CDK12',
'CDKN1B',
'CHD4',
'CHEK1',
'CHEK2',
'KIT',
'CSMD3',
'CTCF',
'CUL3',
'DDR2',
'DHX9',
'BAP1',
'DNMT3A',
'EGFR',
'ERBB1',
'EDNRB',
'ELF3',
'EMSY',
'EP300',
'EPCAM',
'ERBB2',
'ERBB2IP',
'ERCC1',
'ERCC2',
'ERCC3',
'ERCC5',
'EYA4',
'FGFR2',
'FGFR3',
'FGFR4',
'FAM123B ',
'AMER1',
'FAM175A',
'ABRAXAS1',
'FANCA',
'FANCD2',
'FANCI',
'FANCL',
'FANCM',
'SLX4 ',
'ABRAXAS1',
'FBXW7',
'FOXA1',
'FOXP1',
'FOXQ1',
'GATA3',
'GREM1',
'GALNT12',
'FGFR1',
'HOXB13',
'PSGD',
'HDAC2',
'KDM6A',
'KEAP1',
'KRAS',
'KLF5',
'KMT2D',
'KMT2C',
'KMT2B',
'MAP2K1',
'MAP2K2',
'MAP2K4',
'MAP3K1',
'MET',
'MLH1',
'MLH3',
'MLLT4',
'MRE11A',
'MSH2',
'MSH3',
'MSH6',
'NBN',
'NCOR1',
'NCOR2',
'NF1',
'NFE2L2',
'NTHL1',
'NOTCH1',
'NOTCH2',
'NRAS',
'PAIP1',
'MYH',
'PALB2',
'PIK3CA',
'PMS2',
'POLD1',
'POLE',
'POLG',
'POLH',
'POLN',
'POLQ',
'PPPRR2A',
'PRKDC',
'PSMC3IP',
'PTPRD',
'PTEN',
'CDKN2A',
'P14ARF',
'P16',
'RAD51',
'RAD51B',
'RAD51C',
'RAD51D',
'RAD54L',
'RB1',
'RECQL',
'RBM10',
'RET',
'REV3L',
'RFC4',
'RHOA',
'RHOB',
'RIF1',
'RINT1',
'RPS20',
'PPP2R2A',
'RAD50',
'REPA1',
'RNF43',
'RUNX1',
'RXRA',
'SCG5',
'SF3B1',
'SMAD2',
'SMAD4',
'SMARCA1',
'SMARCA4',
'SOX9',
'SPOP',
'STAG2',
'STK11',
'TCF7L2',
'TP53',
'TSC1',
'TXNIP',
'TOP1',
'TOPO1',
'U2AF1',
'ZFP36L1',
'ZFP36L2')

In [ ]:
df2 = df.loc[df['Hugo_Symbol'].isin(genes)]
print(len(df2))
df2.head()

### Find Variants
### c. Name

In [ ]:
tst_txt_c = " ".join([x for x in df2.iloc[:, 1]])
tst_txt_c[:1888]

In [ ]:
tst_txt_c = " ".join([x for x in df2.iloc[:, 1]])
V_name = re.compile(r"""c\.(?P<nucltide_pos>\d+)(?P<wild_type_Base>[ACTG])>(?P<variant_Base>[ACTG])""")


Variant = []
nucltide_pos = []
wild_type_Base = []
variant_Base = []

# for n in V_name.finditer(tst_txt_c):
#     Variant.append(n.group())
# print(len(Variant))
# Variant

# # for n in V_name.finditer(tst_txt_c):
# #     nucltide_pos.append(n.group('nucltide_pos'))
# # print(len(nucltide_pos))
# # nucltide_pos

# # for n in V_name.finditer(tst_txt_c):
# #     wild_type_Base.append(n.group('wild_type_Base'))
# # print(len(wild_type_Base))
# # wild_type_Base

# # for n in V_name.finditer(tst_txt_c):
# #     variant_Base.append(n.group('variant_Base'))
# # print(len(variant_Base))
# # variant_Base

### p. Name

In [ ]:
df2.head()

In [ ]:
tst_txt_c2 = " ".join([x for x in df2.iloc[:, 2]])
tst_txt_c2[:1000]

In [ ]:
tst_txt_c2 = " ".join([x for x in df2.iloc[:, 2]])
V_name1 = re.compile(r"""c\..\S+""")
V_name2 = re.compile(r"""c\.(?P<nucltide_pos>\d*)""")
V_name3 = re.compile(r"""p\.[a-zA-z]+(?P<codon>\d+)""")

Variant_all = []
codon = []
c_dot = []

for n in V_name1.finditer(tst_txt_c):
    Variant_all.append(n.group())
print(len(Variant_all))
Variant_all

for n in V_name2.finditer(tst_txt_c):
    c_dot.append(n.group('nucltide_pos'))
print(len(c_dot))
c_dot

for n in V_name3.finditer(tst_txt_c2):
    codon.append(n.group('codon'))
print(len(codon))
codon

In [ ]:
# V_name2 = re.compile(r"""(?<=:|/^)c\..+""")
# Cdna_snv = []
# for index, row in df2.iterrows():
#     for n in V_name2.finditer(row.HGVSc):
#         Cdna_snv.append(n.group())    
#     #print(row.HGVSc)
# print(len(Cdna_snv))
# Cdna_snv

In [ ]:
#replace old Column's values with new ones  
df2['HGVSc'] = Cdna_snv
df2

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Yaeger2018_variants.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df2.to_excel(writer, sheet_name='Yaeger2018')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
# #Compare the resulting dataframe with the original, returns the rows that are not in the second dataset
# df3 = df3.reset_index(drop=True)
# df_gpby = df3.groupby(list(df3.columns))
# idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]
# df3.reindex(idx)

### The next three cells will generate three separate dataframes with all the separated components of a name. These dataframes correspond to the 3 different variant types that we deal with.

In [ ]:
snv_Table = pd.DataFrame(list(zip(n["snv_vnt_fullname"], Gene_snv, WTAAsnv, s["codon_snv"], vnt_AA_3code, s["WTBsnv"], s["Cdna_snv"], s["vnt_Bsnv"])),
                         columns=['Variant_Name', 'Gene_Name', 'Wildtype_Amino_Acid', 'Codon',
                                  'Variant_Amino_Acid', 'Wildtype_Seq', 'Cdna_Position_Number', 'Variant_Seq'])
snv_Table.head()

In [ ]:
FS_Table = pd.DataFrame(list(zip(n["vnt_fullnameFS"], Gene_FS, WTAA_FS, s["codonFS"], vnt_AA_3codeFS, WTBFS, s["CdnaFS"], vnt_BFS)),
                        columns=['Variant_Name', 'Gene_Name', 'Wildtype_Amino_Acid', 'Codon',
                                 'Variant_Amino_Acid', 'Wildtype_Seq', 'Cdna_Position_Number', 'Variant_Seq'])
FS_Table.head()

In [ ]:
Splice_Table = pd.DataFrame(list(zip(s["c_splice3"], Gene_spl, s["WTBspl"], s["Cdnaspl"], s["vnt_Bspl"])),
                            columns=['Variant_Name', 'Gene_Name', 'Wildtype_Seq', 'Cdna_Position_Number',
                                     'Variant_Seq'])
Splice_Table.head()

### Here we will join the last three tables to generate the final dataframe with all the variant types, their full name and separated name components.

In [ ]:
joining_Tables = snv_Table.append([FS_Table, Splice_Table])
Individual_values_Table = joining_Tables.reindex_axis(
    snv_Table.columns, axis=1).fillna("")
Individual_values_Table.head()

### We are ready to write these into a database:
   #### Connect to a sqlite3 database and create a table with our generated dataframe:

In [ ]:
db_conn = sqlite3.connect(":MEMORY:")
curs = db_conn.cursor()
Individual_values_Table.to_sql(
    "Variant_Ref1", db_conn, index=False, if_exists='replace')

#### Query the table:

In [ ]:
sql = "SELECT * FROM Variant_Ref1"
df = pd.read_sql_query(sql, db_conn)
df.head()

In [ ]:
curs.execute('SELECT Variant_Name FROM Variant_Ref1 WHERE Codon="340"')
curs.fetchall()

#### close the connection to the database:

In [ ]:
db_conn.close()

### Let's create 3 new instances of our class Variant: instances are variants that we want on "spot light" to do more work with them at a later time.

In [ ]:
a = Variant(vname="c.1090A>T (p.Thr364Ser)", gene="CDH1")
print(a)
c = Variant(vname="c.1003C>T (p.Arg335*)", gene="CDH1")
print(c)
d = Variant(vname="c.1018A>G (p.Thr340Ala)", gene="CDH1")
print(d)
d.how_many()

In [ ]:
c.del_variant()

### Create an instance of the VntCount class, which inherits from the Variant class. 
#### It tells you how many variants are in your final dataframe, and the number of variants on "spot light".

In [ ]:
b = VntCount(vname="c.1090A>T (p.Thr364Ser)", gene="CDH1",
             dataF=Individual_values_Table, dfname="Individual_values_Table")
print(b)

### Generate a bar graph from your final dataframe:

In [ ]:
graphing(Individual_values_Table)